Form {
  padding: 20px;
  text-align: center;
}

.input {
  color: black;
  background-color: rgba(230, 226, 226, 0.779);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  width: 272px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #094347;
  height: 120px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
